.auth {
    display: flex;
    max-height: 100vh;
    background-color: var(--bg-color);
    color: var(--txt-color);
    width: 100%;
}

.auth .auth-img {
    width: 50%;
    height: 99.6%;
}

.auth .auth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    text-align: center;
}

.auth .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth .logo img {
    width: 48.04px;
    height: 50px;
}

.auth .logo span {
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0;
}

.auth p.cta {
    font-size: 14px;
    margin-bottom: 20px;
}

.auth p.cta span {
    font-weight: 900;
}

.auth form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.auth form label {
    font-size: 14px;
}

.auth form input {
    margin: 10px 0;
    padding: 12px 14px;
    border-radius: 12px;
}

.auth input#checkbox {
    accent-color: var(--primary);
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.auth .cta2 {
    margin: 15px 0;
}

.auth .cta2 span{
    cursor: pointer;
    font-weight: 600;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.auth .foot-text span{
    text-decoration: underline;
    color: var(--primary);
}

.auth form .input-wrapper {
    position: relative;
    margin-bottom: 1rem;
}

.auth form .input-wrapper input {
    width: 100%;
    padding: 12px 14px 12px 40px; 
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 12px;
}

.auth form .input-wrapper .input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.input-wrapper .toggle-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0.6;
}

.theme {
    position: fixed;
    top: 20px;
    right: 20px;
}