.food-detail {
    padding: 50px;
}

.food-detail .meta-info2 {
    color: var(--gray1);
}

.food-detail h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 10px;
}

.food-detail .synopsis {
    font-size: 12px;
}

.food-tags {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.food-tags span {
    border: 0.5px solid var(--txt-color);
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 10px;
}

.recipes-duration {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 17px 12.91px;
    background: var(--linear-gradient3);
}

.recipes-duration .icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.recipes-duration p {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    font-size: 12px;
}

.recipes-duration p span {
    font-size: 14px;
    margin-top: 6px;
}

.food-detail .additional-info h2 {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}

.food-detail .additional-info h3 {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray2);
}

.food-detail .additional-info ul {
    margin-bottom: 20px;
}

.food-detail .additional-info li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray1);
}

.recipe-link {
    color: var(--primary);
    text-decoration: underline;
}