.lp {
    max-width: 1200px;
    align-self: center;
    height: 100vh;
    padding: 1.25rem 5rem;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.lp .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 20px;
}

.lp .logo {
    display: flex;
    align-items: center;
}

.lp .logo-img {
    margin-right: 10px;
    width: 24.02px;
    height: 25px;
}

.lp .logo span {
    font-weight: 600;
    font-size: 20px;
}

.lp .hero-section {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-info h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero-info h1 span {
    font-weight: 400;
}

.hero-info .primary-btn{
    margin-right: 10px;
}

.hero-info > p{
    margin: 20px 0;
}

.hero-info .features {
    margin-top: 30px;
}

.hero-info .features p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hero-info .features p .icon {
    margin-right: 10px;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 100%;
}

.lp .navbar div {
    display: flex;
    align-items: center;
}

.lp .navbar .primary-btn {
    margin-left: 30px;
}