.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refresh-btn {
    background-color: var(--active-sidebar-link);
    display: flex;
    color: var(--txt-color);
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
}

.refresh-btn .icon {
    margin: 0 0 0 10px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 440px);
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 440px;
    height: 287px;
    background-color: var(--selection-bg);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
}

.image-wrapper {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.genre-tag {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--purple);
    color: var(--bg-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 10px;
}

.movie-title {
    position: absolute;
    bottom: 36px;
    left: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
}  

.meta-info {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--txt-color);
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.meta-info span {
    display: flex;
    align-items: center;
}

.meta-info span .icon {
    margin-right: 10px;
}

.card-details {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview {
    font-size: 12px;
    color: var(--txt-color);
    margin-bottom: 6px;
    line-height: 1.3;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.click-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #525252;
}

.click-info .icon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.action-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 3px 12px;
    width: 204.6px;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: var(--txt-color);
    font-size: 12px;
    transition: all .3s ease;
}

.action-buttons button .icon {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

.action-buttons .like-btn {
    background-color: var(--active-sidebar-link);
}

.action-buttons .share-btn {
    border: 1px solid var(--txt-color);
}

.action-buttons button:hover {
    scale: 1.1;
}

.skeleton .skeleton-box {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    border-radius: 12px;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-text {
    height: 16px;
    background-color: #ccc;
    border-radius: 8px;
    margin: 8px 0;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-btn {
    background-color: #ccc;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: not-allowed;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}