.movie-detail {
    padding: 50px;
    max-width: 1000px;
}

.header-row h1 {
    font-weight: 500;
    margin-bottom: 30px;
}

.columns {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.left-column .image-wrapper {
    position: relative;
    width: 375px;
    height: 393px;
}

.left-column img {
    width: 100%;
    border-radius: 20px;
}

.right-column {
    flex: 1;
}

.right-column h1 {
    font-weight: 500;
    font-size: 24px;
}

.meta-info2 {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    font-size: 12px;
    color: #525252;
}

.meta-info2 span {
    display: flex;
    align-items: center;
}

.meta-info2 span .icon {
    margin-right: 5px;
}

.rate {
    font-size: 23.25px;
}

.movie-detail h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 10px;
}

.synopsis {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 130%;
    color: var(--gray1);
}

.favorite-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

.additional-info {
    margin-top: 40px;
    background-color: var(--selection-bg);
    padding: 23px 53px;
    border-radius: 20px;
}

.additional-info .infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.additional-info h2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.additional-info .infos span {
    font-size: 12px;
}

.additional-info .infos span p {
    font-size: 14px;
    margin-top: 8px;
}

.cast-names {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 6px;
}

.cast-name {
    border: 1px solid var(--txt-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
    white-space: nowrap;
}