

.profile {
    width: -webkit-fill-available;
    padding: 50px;
}
.profile-info{
    margin: 40px 0;
}
.profile-info .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-info .user-info .user-div {
    display: flex;
    align-items: center;
}
.profile-info .user-info .user-div .user-img {
    background-color: #7A7289;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-right: 20px;
}
.profile-info .user-info .user-div p{
    display: flex;
    flex-direction: column;
    color: var(--gray1);
    font-weight: 700;
    font-size: 14px;
}
.profile-info .user-info .user-div p span{
    font-weight: 400;
    color: var(--gray2);
    font-size: 12px;
    margin-top: 7px;
}
.add-img{
    background-color: var(--active-sidebar-link);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 12px;
}
hr {
    margin: 30px 0;
    border: .5px solid var(--gray2);
}
.profile label {
    display: block;
    font-size: 14px;
    margin: 10px 0;
}
.profile input {
    padding: 8px 12px;
    border-radius: 12px;
    width: 370px;
    border: none;
    background-color: var(--txt-color);
    color: var(--bg-color);
}
.profile .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile .actions button {
    border-radius: 12px;
    padding: 6px 12px;
    margin-left: 10px;
    font-size: 12px;
}

.profile .pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}