.theme-toggle {
    background-color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.theme-toggle img {
    width: 24px;
    height: 24px;
}

.theme-toggle:hover {
    transform: translateY(-10px);
}